Django==4.2.16
djangorestframework==3.14.0
djoser==2.2.2
djangorestframework-simplejwt==5.3.1
django-filter==24.3
psycopg2-binary==2.9.10
Pillow==11.0.0

gunicorn==23.0.0

django-cors-headers==4.4.0

